.ball-container {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: green;
    /* transition: transform 2s linear; */
    left: 0;
    top: 0;
    position: relative;
    will-change: transform;
    transition: transform .06s linear;
    
}